
@font-face{
	font-family: exo;
	src:url(fuentes/exo.otf);
}

@font-face{
	font-family: WellBred;
	src:url(fuentes/WellBred.otf);
}

@font-face{
	font-family: Route;
	src:url(fuentes/Route.otf);
}

@font-face{
	font-family: BadScript;
	src:url(fuentes/BadScript.ttf);
}